.right-body {
    
    flex: 1;
    display: flex;
    overflow: hidden;
  }
  .scroll-cards {
    width: 370px;
    height: 100%;
    overflow: auto;
  
    padding: 20px 0px 5px 0px;
  }

  .welcome-card{ 
    background-image: url(../images/welcome-banner.png);
    height : 70px; 
    font-family: 'Poppins', sans-serif;  
    text-decoration: none;
    border-radius: 15px;
    /* margin-top: 19px;
    margin-bottom: 5px; */
    padding: 40px;
    /* padding: 25px 25px 15px 25px; */
    transition: 0.3s;
  }

 .fn-card{
  border: solid 1px #0a0a2e; 
  font-family: 'Poppins', sans-serif;
  font-weight: 100;  
  text-decoration: none;
  border-radius: 15px;
  padding: 40px 40px 40px 25px;
  transition: 0.3s;
 }

  .fn-card:hover {
    box-shadow: 5px 1px 20px 1px #ddd;
    transform: scale(0.96);
  }

  .fn-names{
    color: black;
    font-weight: normal;
    font-size: 15px;
    margin-left: 10px;
    text-decoration: none;
  }
  
  .welcome-names {
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
    text-decoration: none;
  }

  
  .welcome {
    display: flex;
    align-items: center;
  } 

  .welcome > img {
    width: 35px;
    border-radius: 10px;

  }
  .welcome-info {
    margin: 10px 65px;
    margin-right: 100px;
    line-height: 2.0;
    font-weight: 600;
    
  }

  .column {

    float: left;
    width: 18%;
    height : 30px;
    padding-top: 30px;

  }
  .row {margin: 0 -5px;}