body {
    margin: 0;
    font-family: 'Poppins', sans-serif;  

  }
  
/* Time and Date */
/* 
#myDiv{
  float: left;
  display: inline:
  padding-left: 4%;
  padding-right: 60%;
 
}  */


 /* side bar navigation  */

.sidebar{
    position: fixed;
    left: 0;
    width : 17%;
    height: 100%; 
    background-color: #0a0a2e;
    margin: 7px 7px 7px 7px;
    border: solid 2px #0a0a2e;
    border-radius: 15px 15px 15px 15px;
}

.sidebar header{
    font-size: 18px;
    color: white;
    font-family: "Helvetica";
    padding-top: 8.5%;
    padding-bottom: 8.5%;
    text-align: center;
    /* background-color: #0a0a2e; */
    user-select: none;
}

.sidebar ul a{
    display: block;
    font-family: "Poppins";
    font-size: 15px;
    text-decoration: none;
    color:white;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 4%;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(255,255,255,.1);
    transition: .4s;
}

ul li a:hover{
    background-color: white;
    color:#0a0a2e;
    border-left: 10px solid #0a0a2e;
} 

  /*---------------------------------------------------------------------*/

  /* nav-bar = top navigation bar*/

  .nav-bar{
   align-items:right;
  }

  #list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #43425D;
    position: fixed;
    height: 100%;
    overflow: hidden;
      text-decoration: none;
  }
  
  #list a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    font-family: arial;
  }
  
  #list a.active {
    background-color: #3C3B54;
    color: white;
  }
  
  #list a:hover:not(.active) {
    background-color: #3C3B54;
    color: white;
  }

  #list2{
      list-style-type: none;
      margin: 0;
      /* margin-left: 20px; */
      padding-top: 0.2%;
      padding-bottom: 1%;
      padding-left: 87%; 
      /* added to get the element to the corner */
  }

  #list2 li{
      display: inline;
      vertical-align: middle;
      padding-left: 1%;
  }
/* 
  .column {
       float: left;
      flex: 50%; 
  } */
  .row:after {
      display: flex;
  }
  .button {
      padding: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      cursor: pointer;
  }
  .button1{
      border: solid 2px #0a0a2e;
      /*border: none;*/
      color: #0a0a2e;
      border-radius: 15px; 
      margin-top: 10px;
      padding-left: 30px;
      padding-right: 30px;
      
  }

  .button1:hover{
      background-color: #0a0a2e;
      color:#ffff;
    }
  .button2{
      border-width: thin;
      border-color: #3C3B54;
      background-color: #afafaf;
      color: #3C3B54;
      border-radius: 6px;
  }

/* Only for Profile Settings Form Fields */
.input-ps{
  width: 40%;
  padding: 10px 15px;
  margin-top: -3%;
  margin-bottom: -1%;
  box-sizing: border-box;
  border:none;
  background-color: #d8d8da;

}
.input1{
    width: 100%;
    padding: 10px 15px;
    margin-top: -3%;
    margin-bottom: -1%;
    box-sizing: border-box;
    border:none;
    background-color: #d8d8da;
}
  .input2{
      /*width: 400px;*/
      width: 100%;
      height: 100px;
      padding: 5px 15px;
      text-align: left;
      margin-top: -3%;
      box-sizing: border-box;
      border:none;
      background-color: #d8d8da;
  }
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #F5F6FA;
    color: #707070;
  }

  #backbutton {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

  /*------------------------------------------------------------------------------*/
/*Dropdown Content*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px; 
    z-index: 1;
}

.btn-ddc {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    font-size: 16px;
    /* margin: 4px 2px; */
    transition: 0.3s;
}

.btn-ddc:hover {
 color: #0a0a2e;
  
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
}

/* Forms */

.form-left{
  margin-left: 380px;
  margin-top: 100px;
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  left: 0;
}

.form-right{
  margin-right: 150px;
  margin-top: 140px;
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  right: 0;
  z-index: -1;

}

.form-submit{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 4px;
    cursor: pointer;
    /* border: solid 2px #0a0a2e; */
    /*border: none;*/
    color: #fff;
    background-color: #0a0a2e;
    border-radius: 15px; 
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    transition: transform .2s;
    
    
}

.form-submit:hover{
    background-color: #0a0a2e;
    color:#ffff;
    transform: scale(1.1);
  }

.form-clear{
  padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 3px;
    cursor: pointer;
    border: solid 2px #0a0a2e;
    /*border: none;*/
    color: #0a0a2e;
    border-radius: 15px; 
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px; 
}
.form-clear:hover{
  background-color: #0a0a2e;
  color:#ffff;
}




/* Online Order(OO) Prepare */

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;

}

.right {
  right: 0;
  z-index: -1;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
 


/*Search Bar*/
  
.search-container{
  width: 100px;
  flex-basis: 35%;
  margin: 0 auto;
  padding-left: 25%;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 10px;
  font-size: 1rem;
  border: 2px solid #0a0a2e;
  outline: none;

 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  /* right: -45px; */
}


  /*------------------------------------------------------------------------------*/
/*Bill Content*/
.bill{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.company{
 background-color: #0d1033;
 padding: 10px 40px;
}
.bill-row{
  display: flex;
  flex-wrap: wrap;
}
.bill-col{
  width: 50%;
  flex: 0 0 auto;
}
.text-white{
  color: #fff;
}
.company-details{
  float: right;
  text-align: right;
}
.bill-body{
  padding: 16px;
  border: 1px solid gray;
}
.table-bordered{
  box-shadow: 0px 0px 5px 0.5px gray;
background-color: #fff;
  width: 100%;
  border-collapse: collapse;
}
table thead tr{
  border: 1px solid #111;
  background-color: #f2f2f2;
}
table td {
  vertical-align: middle;
  text-align: center;
}
table th, table td {
  padding-top: 08px;
  padding-bottom: 08px;
}
.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6;
}
.text-right{
  text-align: end;
}
.table-field{
  width: 20%;
}
/*errors span*/
.invalidFeedback{
    color: red;
    font-size: 14px;

}
/*----------------------------------------------------------------------------------*/
/*User interfaces search bar*/
input#UISearchbar{
    margin: 0 auto;
    /*width: 100%;*/
    height: 45px;
    padding: 0 10px;
    font-size: 1rem;
    border: 2px solid #0a0a2e;
    outline: none;
}